/* .App {
} */

.main_section{
  max-width: 1100px;
  min-height: 100vh;
  height: fit-content;
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
}

.app_logo_container>img{
  width: 100%;
  max-width: 250px;
}

footer{
  background-color: var(--official_color_yellow);
  padding: 5px;
  box-sizing: border-box;
}

.developer_link{
  font-weight: bold;
  color: inherit;
}

.page_rights_text{
  text-align: center;
  color: black;
  margin: 2px;
}